* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat';
  overflow-x: hidden;
  position: relative;
}

header {
  background-image: url(../img/main-img.jpg);
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.menu-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1vh;
}

.logo h2 {
  margin: 1vh;
}

.logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: #8D81AC;
}

.logo:hover {
  cursor: pointer;
}

.logo:hover a {
  color: white;
}

.logo:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  padding-left: 35vh;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style: none;
  white-space: nowrap;
}

.nav-list li {
  margin-right: 5vh;
}

.nav-list a {
  text-decoration: none;
  color: #8D81AC;
  font-weight: 600;
}

.nav-list a:hover {
  color: white;
  -webkit-transition: ease-in .3s;
  -o-transition: ease-in .3s;
  transition: ease-in .3s;
}

.btn {
  background-color: #8D81AC;
  font-family: 'Montserrat';
  font-weight: 600;
  color: white;
  border-radius: 40px;
  border-width: 0;
}

.btn:hover {
  background-color: white;
  color: #8D81AC;
  cursor: pointer;
  -webkit-transition: ease-in .2s;
  -o-transition: ease-in .2s;
  transition: ease-in .2s;
}

.buynow {
  white-space: nowrap;
  padding: 10px 30px;
  margin-right: 2vh;
}

.burger {
  display: none;
  cursor: pointer;
  margin: 4px;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
      -ms-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background-color: white;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
      -ms-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background-color: white;
}

.header-title-wrap {
  margin: 10vh auto;
  text-align: center;
  cursor: default;
}

.header-title-wrap h1 {
  color: white;
  font-size: 4.4em;
}

.header-title-wrap h3 {
  color: #8D81AC;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 5px;
}

.header-title-wrap h5 {
  color: #848e97;
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: 200;
}

.load-link {
  background-color: #8D81AC;
  font-family: 'Montserrat';
  font-weight: 600;
  color: white;
  border-radius: 40px;
  border-width: 0;
  position: absolute;
  bottom: -3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  text-decoration: none;
  padding: 12px;
  min-width: 20%;
  font-size: 1em;
}

.load-link:hover {
  color: #8D81AC;
  background-color: white;
}

.testimonials {
  background-image: url(../img/testimonials.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.testim-wrap {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10vh 4vh 2 vh 5vh;
  text-align: center;
}

.testim-wrap h4 {
  color: white;
  font-size: 3em;
  padding-top: 5vh;
}

.testim-wrap p {
  color: white;
  font-style: italic;
  font-weight: 600;
  font-size: 0.8em;
}

.testim-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  padding: 4vh;
}

.post-img {
  margin-bottom: 3vh;
}

.testimonial-subtitle {
  padding: 0 4vh;
}

.testimonial-subtitle p {
  color: #8D81AC;
  font-family: 'lato';
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
}

.Revolutionary {
  max-width: 1170px;
  margin: 0 1vw;
}

.Revolutionary .Revolutionary-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 850px;
}

.Revolutionary .Revolutionary-content h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4em;
  color: #635c73;
}

.Revolutionary .Revolutionary-content p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  text-align: center;
}

.Revolutionary .Revolutionary-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Revolutionary .Revolutionary-content ul li {
  list-style-type: none;
  margin: 0 10px 0 0;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  font-family: Lato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Revolutionary .Revolutionary-content ul li .btn-widht-count {
  border-right: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
  text-decoration: none;
}

.Revolutionary .Revolutionary-content ul li .btn-widht-count .btn-icon {
  width: 16px;
  margin-left: 10px;
}

.Revolutionary .Revolutionary-content ul li .btn-widht-count .btn-text {
  padding: 5px;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.Revolutionary .Revolutionary-content ul li .btn-count {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 5px;
  font-size: 10px;
}

.HereIsWhatYouGet {
  max-width: 1170px;
  margin: 0 1vw;
  background: #f4f4f4;
  overflow-x: hidden;
}

.HereIsWhatYouGet .slogan {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-weight: bold;
  font-size: 38px;
  color: #8d81ac;
  margin: 0 0 0 30px;
  grid-area: slogan;
}

.HereIsWhatYouGet .ImgSlogan {
  grid-area: ImgSlogan;
  width: 100%;
  height: 100%;
}

.HereIsWhatYouGet .fiatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-area: fiatures;
}

.HereIsWhatYouGet .fiatures .fiature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HereIsWhatYouGet .fiatures .fiature img {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.HereIsWhatYouGet .fiatures .fiature .fiature-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

.HereIsWhatYouGet .fiatures .fiature .fiature-descr h6 {
  margin: 0 0 15px 0;
  color: #323232;
  font-size: 16px;
}

.HereIsWhatYouGet .fiatures .fiature .fiature-descr p {
  color: #848e97;
  font-size: 14px;
  margin: 0px;
}

.pricing {
  max-width: 1170px;
  background-color: #4b3b4e;
  margin: 0px 1vw;
}

.pricing .pricing-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: white;
  padding-top: 80px;
}

.pricing .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing .prices .price {
  width: 237px;
  height: 457px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #715963;
}

.pricing .prices .price h6 {
  width: 100%;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  padding: 36px 0 36px 0;
  color: white;
  background-color: #6b5c6b;
}

.pricing .prices .price .price-curent {
  font-size: 60px;
  margin: 30px 0 20px 0;
}

.pricing .prices .price .price-curent span {
  font-weight: bold;
}

.pricing .prices .price .price-for-time {
  margin: 0px;
  font-size: 14px;
  position: relative;
}

.pricing .prices .price .price-for-time::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 60px;
  left: 10px;
  top: 50px;
  background-color: #8d81ac;
}

.pricing .prices .price .price-for-what {
  margin: 70px 0 30px 0;
  font-size: 16px;
}

.pricing .prices .price a {
  margin: 0 0 37px 0;
  width: 160px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  background-color: #7f707f;
}

.pricing .prices .price.active {
  width: 280px;
  height: 560px;
  background-color: #473149;
}

.pricing .prices .price.active h6 {
  background-color: #402d41;
}

.pricing .prices .price.active .price-curent {
  font-size: 82px;
}

.pricing .prices .price.active a {
  margin: 65px 0 0 0;
}

@media screen and (max-width: 1050px) {
  .menu-wrap {
    background-color: #27262A;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }

  .buynow {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  nav {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 0;
  }

  .header-title-wrap h1 {
    font-size: 3.5em;
  }

  .header-title-wrap h3 {
    font-size: 1.2em;
  }

  .header-title-wrap h5 {
    font-size: 1em;
  }
}

@media screen and (max-width: 1050px) and (max-width: 900px) {
  .Revolutionary .Revolutionary-content h2 {
    font-size: 3em;
  }
}

@media screen and (max-width: 1050px) and (max-width: 720px) {
  .Revolutionary .Revolutionary-content h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 1050px) and (max-width: 513px) {
  .Revolutionary .Revolutionary-content h2 {
    text-align: center;
  }

  .Revolutionary .Revolutionary-content p {
    font-size: 14px;
    text-align: center;
  }

  .Revolutionary .Revolutionary-content ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
    max-width: 330px;
  }

  .Revolutionary .Revolutionary-content ul li {
    margin: 5px 0px;
  }

  .HereIsWhatYouGet {
    background: rgba(0, 0, 0, 0.0001);
  }

  .HereIsWhatYouGet .slogan {
    font-size: 32px;
    text-align: center;
    margin: 0 40px;
  }

  .HereIsWhatYouGet .fiature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .HereIsWhatYouGet .fiature .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px;
  }

  .HereIsWhatYouGet .fiature .icon-block img {
    width: 100%;
    height: 100%;
  }

  .HereIsWhatYouGet .fiature .fiature-descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .HereIsWhatYouGet .ImgSlogan {
    width: 100%;
    height: 100%;
    margin: 0 0 0 40px;
  }
}

@media screen and (max-width: 1050px) and (max-width: 950px) {
  .HereIsWhatYouGet {
    background: rgba(0, 0, 0, 0.0001);
  }

  .HereIsWhatYouGet .slogan {
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
  }

  .HereIsWhatYouGet .fiature .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .HereIsWhatYouGet .fiature .icon-block img {
    margin: auto;
  }

  .HereIsWhatYouGet .fiature .fiature-descr {
    max-width: 600px;
  }

  .HereIsWhatYouGet .ImgSlogan {
    width: 100%;
    height: 100%;
    margin: 0 0 0 40px;
  }
}

@media screen and (max-width: 1050px) and (max-width: 671px) {
  .pricing .pricing-heading {
    font-size: 24px;
  }

  .pricing .prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 812px) {
  .menu-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .burger {
    display: block;
  }

  .nav-list li {
    padding: 25px;
    opacity: 0;
    border-bottom: 1px solid #666464;
    cursor: pointer;
  }

  .nav-list a {
    font-size: 1.4em;
    font-weight: 300;
    color: white;
  }

  .nav-list li:hover a {
    color: #8D81AC;
  }

  .nav-list li:hover::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 50px;
    background-color: #8D81AC;
  }

  .nav-list {
    position: absolute;
    top: 10vh;
    height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #333333;
    -webkit-transform: translateX(60%);
        -ms-transform: translateX(60%);
            transform: translateX(60%);
    -webkit-transition: -webkit-transform ease-in-out .3s;
    transition: -webkit-transform ease-in-out .3s;
    -o-transition: transform ease-in-out .3s;
    transition: transform ease-in-out .3s;
    transition: transform ease-in-out .3s, -webkit-transform ease-in-out .3s;
    z-index: 9999;
  }

  .nav-active {
    -webkit-transform: translateX(-10%);
        -ms-transform: translateX(-10%);
            transform: translateX(-10%);
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: -webkit-transform .3s ease-in;
    -o-transition: transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .3s ease-in;
  }

  .logo {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }

  .logo h2 {
    display: none;
  }

  .buynow {
    margin: 0;
  }

  .header-title-wrap {
    padding: 3vh;
  }

  .testim-posts {
    margin: 2vh 3vh;
    padding: 3vh;
  }

  .post-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin-bottom: 20px;
  }

  .post-img {
    max-width: 100%;
    margin-bottom: 2vh;
  }

  .testim-wrap {
    padding: 0;
  }

  .testim-wrap h4 {
    font-size: 2em;
  }

  .testimonials {
    height: 150vh;
  }

  .load-link {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1050px) and (min-width: 950px) {
  .HereIsWhatYouGet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'fiatures slogan ' 'fiatures ImgSlogan';
  }
}

@media screen and (max-width: 1050px) and (min-width: 950px) and (max-width: 1000px) {
  .HereIsWhatYouGet .slogan {
    font-size: 33px;
  }
}

@media screen and (max-width: 1050px) and (min-width: 672px) and (max-width: 1080px) {
  .pricing .pricing-heading {
    font-size: 42px;
  }

  .pricing .prices {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 10px 30px;
  }

  .pricing .prices .price:first-child {
    margin: 0 0 0 40px;
  }

  .pricing .prices .price {
    margin: 10px 15px 10px 0;
  }
}