@media screen and (max-width: 812px) {
	.menu-wrap {
		justify-content: space-between;
	}
	.burger {
		display: block;
	}
	.nav-list li {
		padding: 25px;
		opacity: 0;
		border-bottom: 1px solid rgb(102, 100, 100);
		cursor: pointer;
	}

	.nav-list a {
		font-size: 1.4em;
		font-weight: 300;
		color: white;
	}

	.nav-list li:hover a {
		color: $main-color;
	}

    .testim-posts{
        margin: 2vh 3vh;
        padding: 3vh;
    }

	.nav-list {
		position: absolute;
		top: 10vh;
		height: 50vh;
		flex-direction: column;
		background: #333333;
		transform: translateX(60%);
		transition: transform ease-in-out 0.3s;
		z-index: 9999;
	}
	.nav-list li:hover::before{
		content: '';
		position: absolute;
		top: 10px;
		left: 0;
		width: 4px;
		height: 50px;
		background-color: $main-color;
}
	.nav-active {
		transform: translateX(-10%);
		transition: transform 0.3s ease-in;
	}

	.logo {
		flex-basis: 0;
		& h2 {
			display: none;
		}
	}
	.buynow {
		margin: 0;
	}
	.header-title-wrap {
		padding: 3vh;
	}

    .load-link{
        font-size: 0.9em;
		white-space: nowrap;
    }
	
	.load-link-subtext{
		font-size: 0.8em;
		white-space: nowrap;
	}


	.post-img {
		max-width: 100%;
		margin-bottom: 2vh;
	}

	.testimonials{
		height: 180vh;
	}

	.testim-wrap {
		padding: 0;
		& h4 {
			font-size: 1.5em;
		}
	}
	.post-text{
		margin: 0;
	}
	.testim-posts{
		text-align: center;
		grid-template-columns: 1fr;
		margin-bottom: 0;
		gap: 0;
	}
	.post-text{
		font-size: 0.9em;
	}

	.testimonial-subtitle{
		font-size: 0.8em;
	}
	.testimonial-subtitle::after{
		width: 200px;
	}

}

@media screen and (max-width: 1050px) {
	.menu-wrap {
		background-color: #27262a;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.logo {
		order: -1;
		flex-basis: 40%;
	}
	.buynow {
		order: 2;
	}
	nav {
		align-self: flex-end;
		order: 3;
		padding: 0;
	}

	.header-title-wrap {
		& h1 {
			font-size: 3.5em;
		}
		& h3 {
			font-size: 1.2em;
		}
		& h5 {
			font-size: 1em;
		}
	}

	.testimonials{
		height: 100vh;
	}

	.testimonial-subtitle{
		& p{
			font-size: 0.8em;
		}
	}
	
	.testim-wrap{
		& h4{
			padding-top: 2vh;
		}
	}
	.testim-posts{
		margin-bottom: 6vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3,170px);
	}
	
	
	.testim-wrap {
		padding: 0;
		& h4 {
			font-size: 1.8em;
		}
	}
}








@media (max-width: 900px) {
	.Revolutionary {
		.Revolutionary-content {
			h2 {
				font-size: 3em;
			}
		}
	}
}
@media (max-width: 720px) {
	.Revolutionary {
		.Revolutionary-content {
			h2 {
				font-size: 2em;
			}
		}
	}
}

@media (max-width: 513px) {
	.Revolutionary {
		.Revolutionary-content {
			h2 {
				text-align: center;
			}
			p {
				font-size: 14px;
				text-align: center;
			}
			ul {
				justify-content: space-around;
				flex-wrap: wrap;
				padding: 0px;
				max-width: 330px;
				margin: 0;
				li {
					margin: 5px 0px;
				}
			}
		}
	}
}
@media (min-width: 964px) {
	.HereIsWhatYouGet {
		background: #f4f4f4;
		.HereIsWhatYouGet-content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				'fiatures slogan '
				'fiatures ImgSlogan';
			max-width: 1170px;
			margin: 0 auto;
		}
	}
}
@media (min-width: 950px) and (max-width: 1000px) {
	.HereIsWhatYouGet {
		.HereIsWhatYouGet-content {
			.slogan {
				font-size: 33px;
			}
		}
	}
}

@media (max-width: 513px) {
	.HereIsWhatYouGet {
		.HereIsWhatYouGet-content {
			background: rgba(0, 0, 0, 0.0001);
			.slogan {
				font-size: 32px;
				text-align: center;
				margin: 0 40px;
			}
			.fiature {
				display: flex;
				flex-direction: column;
				align-items: center;
				.icon-block {
					display: flex;
					margin: 5px;
					img {
						width: 100%;
						height: 100%;
					}
				}

				.fiature-descr {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
				}
			}
			.ImgSlogan {
				width: 100%;
				height: 100%;
				margin: 0 0 0 40px;
			}
		}
	}
}
@media (max-width: 964px) {
	.HereIsWhatYouGet {
		.HereIsWhatYouGet-content {
			background: rgba(0, 0, 0, 0.0001);
			.slogan {
				font-size: 42px;
				text-align: center;
				margin-bottom: 20px;
			}
			.fiatures {
				max-width: 600px;
				margin: 0 auto;
				.fiature {
					.icon-block {
						display: flex;
						img {
							margin: auto;
						}
					}
					.fiature-descr {
						max-width: 600px;
					}
				}
			}
			.ImgSlogan {
				width: 100%;
				height: 100%;
				margin: 0 0 0 40px;
			}
		}
	}
}
@media (min-width: 672px) and (max-width: 1149px) {
	.pricing {
		.pricing-content {
			.pricing-heading {
				font-size: 42px;
			}
			.prices {
				display: grid;
				grid-template-columns: 300px 300px;
				grid-gap: 10px 30px;
				.price:first-child {
					margin: 0 0 0 40px;
				}
				.price {
					margin: 10px 15px 10px 0;
				}
				.price.active {
					margin: 0 0 0 20px;
				}
			}
		}
	}
}
@media (max-width: 671px) {
	.pricing {
		.pricing-content {
			.pricing-heading {
				font-size: 28px;
			}
			.prices {
				flex-direction: column;
			}
		}
	}
}
