@mixin btn-basis {
    background-color: $main-color;
    font-family: 'Montserrat';
    font-weight: 600;
    color: white;
    border-radius: 40px;
    border-width:0;
 }
@mixin Font-Fam-Mont {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
}
@mixin Font-Fam-Lato {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
}

@mixin Flex-Align-Center {
	display: flex;
	align-items: center;
}
