@import 'variables';
@import 'mixin';
@import 'media';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Montserrat';
	overflow-x: hidden;
	position: relative;
}

header {
	background-image: url(../img/main-img.jpg);
	height: 95vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.menu-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	padding-top: 2vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	margin-left: 1vh;

	& h2 {
		margin: 1vh;
	}
	& a {
		text-decoration: none;
		text-transform: uppercase;
		color: $main-color;
	}
}
.logo:hover {
	cursor: pointer;
	& a {
		color: white;
	}
	& img {
		filter: brightness(0) invert(1);
	}
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	padding-left: 35vh;
}
.nav-list {
	display: flex;
	justify-content: space-between;
	width: 100%;
	list-style: none;
	white-space: nowrap;
	& li {
		margin-right: 5vh;
	}
	& a {
		text-decoration: none;
		color: $main-color;
		font-weight: 600;
	}
	& a:hover {
		color: white;
		transition: ease-in 0.3s;
	}
}

.btn {
	@include btn-basis;
}
.btn:hover {
	background-color: white;
	color: $main-color;
	cursor: pointer;
	transition: ease-in 0.2s;
}

.buynow {
	white-space: nowrap;
	padding: 10px 30px;
	margin-right: 2vh;
}

.burger {
	display: none;
	cursor: pointer;
	margin: 4px;
}

.burger div {
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: rgb(255, 255, 255);
	transition: all 0.3s ease;
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
	background-color: white;
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
	background-color: white;
}

.header-title-wrap {
	margin: 10vh auto;
	text-align: center;
	cursor: default;
	& h1 {
		color: white;
		font-size: 4.4em;
	}
	& h3 {
		color: $main-color;
		font-size: 1.5em;
		font-weight: 400;
		margin-top: 5px;
	}
	& h5 {
		color: rgba(132, 142, 151, 1);
		margin-top: 15px;
		font-size: 1.2em;
		font-weight: 200;
	}
}

.load-link {
	@include btn-basis;
	position: absolute;
	bottom: -3%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	text-decoration: none;
	padding: 12px;
	min-width: 20%;
	font-size: 1em;
	border: 1px solid $main-color;

	&:hover {
		color: $main-color;
		background-color: white;
		border: 1px solid $main-color;
	}
}


.load-link-subtext{
	position: absolute;
	bottom: -7%;
	left: 50%;
	transform: translateX(-50%);
	color: $sub-text-color;
}

.testimonials {
	background-image: url(../img/testimonials.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	

	height: 90vh;
}


.testim-wrap {
	
	margin: 0 auto;
	max-width: 1200px;
	padding: 10vh 2vh 2vh 2vh;
	text-align: center;
	& h4 {
		color: white;
		font-size: 3em;
		
	}
	& p {
		color: white;
		font-style: italic;
		font-weight: 600;
		font-size: 0.8em;
	}
}

.testim-posts {
	margin-top: 4vh;
	margin-bottom: 3vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2vh;
}

.post-item {
	
	padding: 4vh;
}

.post-img {
	margin-bottom: 3vh;
}

.testimonial-subtitle {
	max-width: 900px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding: 0 4vh;
	& p {
		color: $main-color;
		font-family: 'lato';
		font-style: normal;
		font-weight: normal;
		font-size: 0.9em;
	}
}

.testimonial-subtitle::after{
	position: absolute;
	content: "";
	bottom: -60%;
	width: 600px;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #645766;;
}

.Revolutionary {
	margin-top: 100px;
	.Revolutionary-content {
		padding: 0 2vh;
		@include Flex-Align-Center;
		justify-content: center;
		flex-direction: column;
		margin: 0 auto;
		max-width: 900px;
		h2 {
			@include Font-Fam-Mont;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 4em;
			color: #635c73;
		}
		p {
			@include Font-Fam-Lato;
			font-size: 1.3em;
			text-align: center;
			margin: 35px 0 13px 0;
		}
		ul {
			display: flex;
			margin-bottom: 70px;
			li {
				list-style-type: none;
				margin: 0 10px 0 0;
				border: 1px solid #f1f1f1;
				border-radius: 5px;
				font-family: Lato;
				@include Flex-Align-Center;
				.btn-widht-count {
					border-right: 1px solid #f1f1f1;
					@include Flex-Align-Center;
					background-color: #f1f1f1;
					text-decoration: none;
					.btn-icon {
						width: 16px;
						margin-left: 10px;
					}
					.btn-text {
						padding: 5px;
						color: black;
						font-weight: bold;
						font-size: 14px;
					}
				}
				.btn-count {
					text-decoration: none;
					color: black;
					font-weight: bold;
					margin: 0 5px;
					font-size: 10px;
				}
			}
		}
	}
}
.HereIsWhatYouGet {
	overflow-x: hidden;
	padding-top: 50px;
	.HereIsWhatYouGet-content {
		padding: 0 2vh;
		.slogan {
			@include Font-Fam-Mont;
			font-weight: bold;
			font-size: 38px;
			color: #8d81ac;
			margin: 0 0 0 30px;
			grid-area: slogan;
			margin-bottom: 10px;
		}
		.ImgSlogan {
			grid-area: ImgSlogan;
			width: 100%;
			height: 100%;
		}

		.fiatures {
			display: flex;
			flex-direction: column;
			grid-area: fiatures;
			.fiature {
				display: flex;
				margin-bottom: 30px;
				align-items: center;
				img {
					width: 60px;
					height: 60px;
					margin: 10px;
				}
				.fiature-descr {
					display: flex;
					flex-direction: column;
					@include Font-Fam-Mont;

					h6 {
						margin: 0 0 15px 0;
						color: #323232;
						font-size: 16px;
					}
					p {
						color: #848e97;
						font-size: 14px;
						margin: 0px;
					}
				}
			}
		}
	}
}
.pricing {
	// background-color: #4b3b4e;
	background-image: url(../img/Layer-max.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	// margin: 0px 1vw;
	.pricing-content {
		max-width: 1170px;
		margin: 0 auto;
		padding: 0 2vh;
		.pricing-heading {
			@include Font-Fam-Mont;
			font-weight: bold;
			font-size: 48px;
			text-align: center;
			color: white;
			padding: 80px 0 40px;
		}
		.prices {
			// max-width: 1170px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			.price {
				width: 250px;
				height: 457px;
				margin: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
				@include Font-Fam-Mont;
				text-align: center;
				text-transform: uppercase;
				color: white;
				background-image: url(../img/base-2.png);
				h6 {
					width: 100%;
					font-size: 24px;
					font-weight: normal;
					margin: 0px;
					padding: 36px 0 36px 0;
					color: white;
					background-color: #6b5c6b;
				}
				.price-curent {
					font-size: 60px;
					margin: 30px 0 20px 0;

					span {
						font-weight: bold;
					}
				}
				.price-for-time {
					margin: 0px;
					font-size: 14px;
					position: relative;
				}
				.price-for-time::after {
					content: '';
					position: absolute;
					height: 5px;
					width: 60px;
					left: 10px;
					top: 50px;
					background-color: #8d81ac;
				}

				.price-for-what {
					margin: 70px 0 30px 0;
					font-size: 16px;
				}
				a {
					margin: 0 0 37px 0;
					width: 160px;
					height: 42px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 15px;
					border-radius: 50px;
					text-decoration: none;
					color: white;
					background-color: #7f707f;
				}
			}
			.price.active {
				width: 280px;
				height: 560px;
				background-image: url(../img/base-1.png);
				h6 {
					background-color: #402d41;
				}
				.price-curent {
					font-size: 82px;
					span {
					}
				}
				.price-for-time {
				}
				.price-for-what {
				}
				a {
					margin: 65px 0 0 0;
				}
			}
		}
	}
}
